.header .site-logo img {
    max-width: 220px;
    max-height: 50px;
}

.cmn-section{
	padding: 120px 0px;
}

.card-header{
	background: transparent;
}
.card-footer{
	background: transparent;
}

.card{
	-webkit-box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.75);
}

.login-area, .password-area{
    padding: 35px;
    -webkit-box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.75);
}
.modal{
	z-index: 9999;
}

input[readonly]{
	background: #0000002e;
}


button[disabled]{
    opacity: 0.5;
    cursor: auto !important;
}


.widget-two {
    padding: 15px 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.bg--white {
    background-color: #ffffff !important;
}

.b-radius--5 {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.box--shadow2 {
    box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75) !important;
}

.widget-two .btn{
    margin-left: 12rem!important;
    margin-top: -31px !important;
}

.widget-two .cmn-btn {
    padding: 5px 17px;
}
.widget-three .cmn-btn {
    padding: 5px 17px;
}

.widget-two .overlay-icon {
    position: absolute;
    top: 0;
    right: -15px;
    font-size: 120px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0.15;
}

.text--primary {
    color: #7367f0 !important;
}

.widget-two__icon {
    width: 65px;
    height: 65px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*margin-top: 32px;*/
}

.bg--primary {
    background-color: #7367f0 !important;
}

.widget-two__icon i {
    font-size: 42px;
    color: #fff;
}

.widget-two__content {
    width: calc(100% - 65px);
    padding-left: 30px;
}
.mb-30{
    margin-bottom: 30px;
}


.widget-three {
    padding: 30px 30px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.widget-three__icon {
    width: 100px;
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.b-radius--rounded {
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}
.widget-two:hover {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}
.widget-three:hover {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}
.widget:hover {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}
.widget-three {
    padding: 30px 30px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.widget-three__icon i {
    font-size: 48px;
    color: #ffffff;
}
.widget-three__content {
    margin-top: 25px;
}
.widget-three {
    padding: 30px 30px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.widget {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.border--success {
    border-color: #28c76f !important;
}
.widget__icon {
    width: 70px;
    height: 70px;
    align-self: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.widget__icon i {
    color: #ffffff;
    font-size: 38px;
}
.widget__content {
    width: calc(100% - 90px);
    padding-left: 15px;
}
.text--success {
    color: #28c76f !important;
}
.bg--success {
    background-color: #28c76f !important;
}
.bb--3 {
    border-bottom: 3px solid !important;
    border-color: #28c76f !important;
}
.b-radius--10 {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}
@media (max-width: 991px) {
    .widget-two .btn {
        margin-left: 0rem!important;
        margin-top: 3px !important;
    }
}
@media (max-width: 767px) {
    .widget-two .btn {
        margin-left: 7rem!important;
        margin-top: -31px !important;
    }
}

@media (max-width: 417px) {
    .widget-two .btn {
        margin-left: 0rem!important;
        margin-top: 3px !important;
    }
}



/* form css end */
/* table css start */
.table {
    margin-bottom: 0;
}

.table th {
    font-size: 0.75rem;
    text-align: center;
}

.table td {
    font-size: 0.875rem;
    color: #5b6e88;
    text-align: center;
}

.table td span, .table td p, .table td li {
    font-size: 0.875rem;
}

table th:last-child {
    text-align: right;
}

table th:first-child {
    text-align: left;
}

table td:last-child {
    text-align: right;
}

table td:first-child {
    text-align: left;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(115, 115, 115, 0.05);
}

[data-label] {
    position: relative;
}

[data-label]::before {
    position: absolute;
    content: attr(data-label);
    font-weight: 700;
    color: #000000;
    top: 0;
    left: 0;
    padding: 13px 15px;
    display: none;
}

@media (max-width: 767px) {
    .table-responsive--sm thead {
        display: none;
    }

    .table-responsive--sm tbody tr:nth-child(odd) {
        background-color: #DEDEDE;
    }

    .table-responsive--sm tbody tr:nth-child(even) {
        background-color: #F3F3F3;
    }

    .table-responsive--sm tr th, .table-responsive--sm tr td {
        display: block;
        padding-left: 45%;
        text-align: right !important;
    }

    .table-responsive--sm [data-label]::before {
        display: block;
    }
}

@media (max-width: 575px) {
    .table-responsive--xs thead {
        display: none;
    }

    .table-responsive--xs tbody tr:nth-child(odd) {
        background-color: #f5f5f5;
    }

    .table-responsive--xs tr th, .table-responsive--xs tr td {
        display: block;
        padding-left: 45%;
        text-align: right !important;
    }

    .table-responsive--xs [data-label]::before {
        display: block;
    }
}

@media (max-width: 320px){
    .timer{
        font-size: 17px;
    }
    .bal{
        font-size: 23px;
    }
}

/* table css end */



/* plan css */
.price .single-price:hover, .price .single-price.active {
    -webkit-box-shadow: 0px 0px 19px 12px #F5F5F5;
    box-shadow: 0px 0px 19px 12px #F5F5F5;
}

.price .single-price {
    text-align: center;
    -webkit-box-shadow: 0px 0px 9px 2px #F5F5F5;
    box-shadow: 0px 0px 9px 2px #F5F5F5;
}

.price .single-price .part-bottom button {
    display: inline-block;
    color: #fff;
    background: #000050;
    width: 100%;
    width: 100%;
    padding: 15px 0;
    margin-top: 25px;
    border: 2px solid #000050;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.price .single-price .part-top h3 {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 28px;
    border-bottom: 1px solid;
    padding-bottom: 23px;
}

.price .single-price .part-top h4 {
    font-size: 42px;
    color: #fff;
}

.price .single-price .part-bottom {
    padding: 21px 30px 40px;
    background: #fff;
}

.price .single-price .part-bottom ul li:first-child {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 6px;
}

.btn{
    outline: none;
    border: none;
}
.btn:focus {
    border:none;
    box-shadow: none;
}
.btn:active {
    border:none;
    box-shadow: none;
}
.table td, .table th {
    padding: 15px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table tr {
    background: transparent;
}
.table-card .card-body {
    /*-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.1);*/
    /*-moz-box-shadow: 0 0 6px rgba(0,0,0,0.1);*/
    /*box-shadow: 0 0 6px rgba(0,0,0,0.1);*/
}
.table-card .card-body table {
    border-radius: 7px;
    -webkit-box-shadow: 0 0 11px rgb(0 0 0 / 47%);
    -moz-box-shadow: 0 0 11px rgb(0 0 0 / 47%);
    box-shadow: 0 0 11px rgb(0 0 0 / 47%);
}
.table-card .card-body table thead th:first-child {
    border-radius: 7px 0 0 0;
}
.table-card .card-body table thead th:last-child {
    border-radius: 0 7px 0 0;
}

.table-card .card-body table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 7px;
}
.table-card .card-body table tbody tr:last-child td:last-child {
    border-radius: 0 0 7px 0;
}
.table-card {
    border: none;
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.table-striped tbody tr:nth-of-type(odd) {
    background: transparent;
}

.badge-success {
    background-color: rgba(40, 199, 111, 0.1);
    border: 1px solid #28c76f;
    color: #28c76f;
}

.badge-pending, .badge-warning, .badge-success, .badge-primary, .badge-danger, .badge-dark {
    border-radius: 999px;
    padding: 2px 15px;
    position: relative;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    font-weight: 400!important;
}

.badge-warning {
    background-color: rgba(255, 159, 67, 0.1);
    border: 1px solid #ff9f43;
    color: #ff9f43;
}

.badge-danger {
    background-color: rgba(234, 84, 85, 0.1);
    border: 1px solid #ea5455;
    color: #ea5455;
}
.badge-primary {
    background-color: rgba(115, 103, 240, 0.1);
    border: 1px solid #7367f0;
    color: #7367f0;
}
.badge-dark {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
    color: #000000;
}
.table .thead-dark th {
    font-size: 14px;
}
.modal{
    z-index: 999999999;
}
.price .single-price .part-bottom ul li {
    border-bottom: 1px dashed #00000038;
}
.list-group-item {
    border: 1px dashed rgb(0 0 0 / 41%);
}




.cookie-policy {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 30px 0;
    z-index: 99;
  background: #f7f7f7;
}

.cookie-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cookie-wrapper .cmn--btn {
    font-size: 12px;
}

.cookie-wrapper .cookie-cont {
    max-width: 650px;
}

@media (max-width: 991px) {
    .cookie-wrapper {
        text-align: center;
    }

    .cookie-wrapper .cmn--btn {
        margin-top: 30px;
    }
}